/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
/* Global styles */
body {
    height: 1500px;
    margin: 0;
    padding: 0;
}

/* Header styles */
#header {
    background: #e9e8e6;
    box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.08);
    z-index: 997;
    padding: 15px 0;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    font-weight: bold;
    text-align: center;
    background: #34b7a7;
    color: #fff;
    padding: 20px;
}

#header .logo {
    font-size: 32px;
    margin: 0;
    padding: 0;
    line-height: 1;
    font-weight: 400;
    letter-spacing: 2px;
    text-transform: uppercase;
}

#header .logo a {
    color: #383333;
}

#header .logo img {
    max-height: 40px;
}

/* Responsive styles */
@media (max-width: 992px) {
    #header .logo {
        font-size: 28px;
    }
}

/* Other styles */
.offset {
    margin-top: 0;
    padding-top: 270px;
    text-align: center;
    transition: .3s;
    font-size: 30px;
}



/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation
*/

.navbar {
    padding: 0;
}

.navbar ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;

}

.navbar li {
    position: relative;
    padding: 10px 0 10px 28px;
    text-align: center;
}

.navbar a,
.navbar a:focus {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Raleway", sans-serif;
    font-size: 17px;
    font-weight: 600;
    color: #888888;
    white-space: nowrap;
    transition: 0.3s;
    position: relative;
}
#navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1px;


}

.navbar a i,
.navbar a:focus i {
    font-size: 12px;
    line-height: 0;
    margin-left: 5px;

}

.navbar>ul>li>a:before {
    content: "";
    position: absolute;
    height: 2px;
    bottom: -5px;
    left: 0;
    background-color: #34b7a7;
    visibility: hidden;
    width: 0;
    transition: all 0.3s ease-in-out 0s;
}

.navbar a:hover:before,
.navbar li:hover>a:before,
.navbar .active:before {
    visibility: visible;
    width: 25px;
}

.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover>a {
    color: #000000;
}

.navbar .dropdown ul {
    display: block;
    position: absolute;
    left: 14px;
    top: calc(100% + 30px);
    margin: 0;
    padding: 10px 0;
    z-index: 99;
    opacity: 0;
    visibility: hidden;
    background: #fff;
    box-shadow: 0 0 30px rgba(127, 137, 161, 0.25);
    transition: 0.3s;
    border-radius: 4px;
}

.navbar .dropdown ul li {
    min-width: 200px;
    padding: 0;
}

.navbar .dropdown ul a {
    padding: 10px 20px;
    font-size: 15px;
    text-transform: none;
    font-weight: 600;
}

.navbar .dropdown ul a i {
    font-size: 12px;
}

.navbar .dropdown ul a:hover,
.navbar .dropdown ul .active:hover,
.navbar .dropdown ul li:hover>a {
    color: #34b7a7;
}

.navbar .dropdown:hover>ul {
    opacity: 1;
    top: 100%;
    visibility: visible;
}

.navbar .dropdown .dropdown ul {
    top: 0;
    left: calc(100% - 30px);
    visibility: hidden;
}

.navbar .dropdown .dropdown:hover>ul {
    opacity: 1;
    top: 0;
    left: 100%;
    visibility: visible;
}

@media (max-width: 1366px) {
    .navbar .dropdown .dropdown ul {
        left: -90%;
    }

    .navbar .dropdown .dropdown:hover>ul {
        left: -100%;
    }
}


.icons {
    font-size: 15px;
    position: fixed;
    width: 100%;
    height: 100px;
    font-weight: bold;
    text-align: right;

}
/**
* Mobile Navigation
*/
.mobile-nav-toggle {
    color: #222222;
    font-size: 28px;
    cursor: pointer;
    display: none;
    line-height: 0;
    transition: 0.5s;
}

.mobile-nav-toggle.bi-x {
    color: #fff;
}

@media (max-width: 991px) {
    .mobile-nav-toggle {
        display: block;
    }

    .navbar ul {
        display: none;
    }
}

.navbar-mobile {
    position: fixed;
    overflow: hidden;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(9, 9, 9, 0.9);
    transition: 0.3s;
    z-index: 999;
}

.navbar-mobile .mobile-nav-toggle {
    position: absolute;
    top: 15px;
    right: 15px;
}

.navbar-mobile ul {
    display: block;
    position: absolute;
    top: 55px;
    right: 15px;
    bottom: 15px;
    left: 15px;
    padding: 10px 0;
    border-radius: 10px;
    background-color: #fff;
    overflow-y: auto;
    transition: 0.3s;
}

.navbar-mobile a,
.navbar-mobile a:focus {
    font-size: 15px;
    padding-right: 15px;
    color: #222222;
}

.navbar-mobile a:hover,
.navbar-mobile .active,
.navbar-mobile li:hover>a {
    color: #34b7a7;
}

.navbar-mobile .getstarted,
.navbar-mobile .getstarted:focus {
    margin: 15px;
}

.navbar-mobile .dropdown ul {
    position: static;
    display: none;
    margin: 10px 20px;
    padding: 10px 0;
    z-index: 99;
    opacity: 1;
    visibility: visible;
    background: #fff;
    box-shadow: 0 0 30px rgba(127, 137, 161, 0.25);
}

.navbar-mobile .dropdown ul li {
    min-width: 200px;
}

.navbar-mobile .dropdown ul a {
    padding: 10px 20px;
}

.navbar-mobile .dropdown ul a i {
    font-size: 12px;
}

.navbar-mobile .dropdown ul a:hover,
.navbar-mobile .dropdown ul .active:hover,
.navbar-mobile .dropdown ul li:hover>a {
    color: #34b7a7;
}

.navbar-mobile .dropdown>.dropdown-active {
    display: block;
}

/*--------------------------------------------------------------
# still text and type writer effect text
--------------------------------------------------------------*/

.main {
    position: absolute;
    text-align: center;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    font-size: larger;
}


/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
    background: #e9e8e6;
    padding: 30px 0;
    color: #222222;
    font-size: 14px;
    text-align: center;
    position: sticky;
    top: 100%;
}

#footer .credits {
    padding-top: 5px;
    font-size: 13px;
}

#footer .credits a {
    color: #34b7a7;
}
#footer {
    display: block;
}
body {
    min-height: 100vh;
}


